.wrapper {
    display: grid;
    grid-template-rows: 150px min-content min-content 1fr;
    grid-template-columns: 2fr 5fr 2fr; 
    border: 1px solid black;
    min-height: 100vh;
}

h1 {
    text-align: center;
    }

header {
    background-color: #6ebcdd;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.emptyspaceleft {
    background-color: rgb(255, 255, 255);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.emptyspaceright {
    background-color: rgb(255, 255, 255);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

main {
    background-color: rgb(255, 255, 255);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2rem;
}

footer {
    background-color: lightgray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 2rem;


    /*text-align: center;*/
    display: grid;
    align-content: center;
    justify-content: center;
}
address{ font-style: normal;}
   
