h1 {
    color: #000000;
    background-color: #b88888;
    padding: 1.5rem;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Set a valid weight instead of <weight> */
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;

}
h2, h3, h4 {
    padding-left: 1.3rem;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Set a valid weight instead of <weight> */
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #b88888;
    ;
    padding: 1.2rem;
}

h4 {
    padding: 2rem; 
}

body {
    font-family: "Avenir", sans-serif;
    color: #f7f7f7;
    background-color: #5a5858;
}

p {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 
}

img {
    float: left;
    border: 3px solid #FFFFFF; 
    margin: 0.65rem;
    max-width: 100%;
}

ul, ol {
    font-family: 'Sour Gummy', sans-serif;
}
hr {
    border: 3px dashed #FFFFFF;
    border-radius: 2px; 
}

a:link {
    color: rgb(131, 104, 118);
    text-decoration: none;
    font-family: 'Sour Gummy', sans-serif;
}

a:visited {
    color: #cb4e4e;
    font-family: 'Sour Gummy', sans-serif;
}

a:hover {
    color: #000000;
    text-decoration: underline;
    font-family: 'Sour Gummy', sans-serif;
}

a:active { 
    color: rgb(70, 175, 175);
    font-family: 'Sour Gummy', sans-serif;
}